.DS_Store
.pyc

# Dependency directories
node_modules
jspm_packages
venv
coverage
.nyc_output

# Serverless directories
.serverless

# ignore serverless.yml
serverless.yml

.idea/
.vscode/

layer-sdk/src

# ignore SAM CLI created files/dirs
.aws-sam/
samconfig.toml
