language: node_js
sudo: false
node_js:
  - 6.2
  - 8.9
  - 10.6
  - 10.7
install:
  - travis_retry npm install
script:
  - travis_retry npm test
after_success:
  - npm run coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage